.user-info {
    align-items: center;
    border-radius: 6px;
    border: 1px black solid;
    box-shadow: 0 2px 6px 0 black;
    display: flex;
    margin: 16px;
    padding: 16px;
    flex-wrap: wrap;
}

.image-profile {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image-profile img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.info-profile {
    display: flex;
    flex-direction: column;
    margin: 0 24px;
    text-align: left;
    flex-wrap: wrap;
}

.info {
    font-size: 16px;
}

.info b {
    margin-left: 8px;
}

@media screen and (max-width: 420px) {
    .user-info {
        flex-direction: column;
        text-align: center;
    }
    .image-profile {
        flex-direction: column;
    }
    .info-profile {
        text-align: center;
    }
    .info {
        display: flex;
        flex-direction: column;
    }
}


