.form-user {
    width: 100%;
}

.form-user input {
    background: transparent;
    border: none;
    border-bottom: 1px black solid;
    outline: none;
}
.form-user button {
    border-radius: 16px;
    background-color: 
}