.followes-panel {
    border-radius: 6px;
    border: solid 1px;
    display: flex;
    flex-direction: column;
    margin: 16px 8px;
    height: 500px;
    overflow: scroll;
    padding: 16px;
    width: calc(100% / 3);
}

.followers-element {
    display: flex;
    align-items: center;
    border-bottom: solid 1px;
    padding: 8px;
}

.followers-element img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.followers-element .field {
    
}

.followers-element .field label {
    margin-bottom: 0px;
}