.repositories-panel {
  border-radius: 6px;
  border: solid 1px;
  display: flex;
  flex-direction: column;
  margin: 16px 8px;
  height: 200px;
  overflow: scroll;
  padding: 16px;
}

.repository-element {
  border-bottom: solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px 0px;
  text-align: left;
}

.repository-element .repository-row{
  align-items: center;
  display: flex;
}

.repository-element span{
  margin-right: 8px;
}

.repository-element .title{
  font-size: 18px;
  font-weight: bold;
}

.circle{
  content: "";
  border: solid 1px;
  border: none;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
}

.repository-element .subtitle{
  font-size: 13px
}


